# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
.venv/
.env
*.env

# Streamlit cache
.streamlit/

# Jupyter Notebooks
notebooks/.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Temporary files
*.tmp
*.bak
